@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#42275a,#734b6d);
    --background: 289 97% 98.5%;
    --foreground: 289 4% 1%;

    --muted: 289 4% 92.5%;
    --muted-foreground: 289 2% 42.5%;

    --popover: 289 58% 92.5%;
    --popover-foreground: 289 4% 1.25%;

    --card: 289 58% 92.5%;
    --card-foreground: 289 4% 1.25%;

    --border: 289 9% 90%;
    --input: 289 9% 90%;

    --primary: 289 40% 25%;
    --primary-foreground: 289 0.8% 92.5%;

    --secondary: 289 2% 96.25%;
    --secondary-foreground: 289 3.4000000000000004% 12.5%;

    --accent: 289 2% 96.25%;
    --accent-foreground: 289 3.4000000000000004% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 289 40% 25%;

    --radius: 0.5rem;
  }





  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
