@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #091E3A;
    --background: 228 98.65% 98.26%;
    --foreground: 228 7.3% 0.52%;

    --muted: 228 7.3% 91.3%;
    --muted-foreground: 228 3.65% 41.3%;

    --popover: 228 31.6% 91.3%;
    --popover-foreground: 228 7.3% 0.65%;

    --card: 228 31.6% 91.3%;
    --card-foreground: 228 7.3% 0.65%;

    --border: 228 12.3% 89.52%;
    --input: 228 12.3% 89.52%;

    --primary: 228 73% 13%;
    --primary-foreground: 228 1.46% 91.3%;

    --secondary: 228 3.65% 95.65%;
    --secondary-foreground: 228 5.38% 11.3%;

    --accent: 228 3.65% 95.65%;
    --accent-foreground: 228 5.38% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 73% 13%;

    --radius: 0.5rem;
  }





  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #4e5153;
  background: currentColor;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.loader:before {
  content: "";
  position: absolute;
  background:
    radial-gradient(farthest-side at bottom right,#0000 94%,currentColor 96%) 0    0   ,
    radial-gradient(farthest-side at bottom left ,#0000 94%,currentColor 96%) 100% 0   ,
    radial-gradient(farthest-side at top    left ,#0000 94%,currentColor 96%) 100% 100%,
    radial-gradient(farthest-side at top    right,#0000 94%,currentColor 96%) 0    100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: 
    l39-1 1s infinite,
    l39-2 1s infinite;
}
@keyframes l39-1 {
  0%,10%,90%,100% {inset:0}
  40%,60% {inset:-10px}
}

@keyframes l39-2 {
  0%,40%  {transform: rotate(0)}
  60%,100%{transform: rotate(90deg)}
}